#!/bin/bash

read -p "enter 'y' to continue, other to abort: " CONF

if [[ "$CONF" == "y" ]]; then
  echo 'continue'
else
  echo 'abort'
  exit
fi


{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -S age neovim mpv bluez-plugins bluez-utils libva-utils gnome-shell-extension-appindicator noto-fonts-cjk bash-completion fwupd firefox fragments dbus-broker

sudo systemctl enable --now bluetooth.service
sudo systemctl enable --now dbus-broker.service

flatpak install obs shotcut steam discord signal spotify gimp

sudo fwupmgr update

sudo pacman -S --needed git base-devel
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si
cd -

ssh-add

echo "todo: split with hardware: laptop powersavings, desktop graphics"

echo "please reboot"
{{ end }}
